@section scripts
{
    @Scripts.Render("~/scripts/javascript/dashboard")
}
<div class="row">
    <div id="js-required" class="alert alert-error alert-block">
      <h4 class="alert-heading">Error!</h4>
      JavaScript is required!
    </div>
    <div id="dashboard" style="display: none;">
        <div class="alert alert-info alert-block">
          <h4 class="alert-heading"><i class="icon-refresh"></i> Loading...</h4>
          Retrieving your build information from AppHarbor.
        </div>
    </div>
</div>
