<footer>
    <div class="row">
        <div class="span12">
            <ul class="quick-links">
                <li><a href="https://github.com/rbwestmoreland/lighthouse">About</a></li>
                <li><a href="https://github.com/rbwestmoreland/lighthouse">Documentation</a></li>
                <li><a href="https://github.com/rbwestmoreland/lighthouse/issues">Submit issues</a></li>
                <li><a href="https://github.com/rbwestmoreland/lighthouse">License</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <ul class="quick-links">
                <li><iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=rbwestmoreland&repo=lighthouse&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="180px" height="20px"></iframe></li>
                <li><iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=rbwestmoreland&repo=lighthouse&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe></li>
                <li><iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=rbwestmoreland&repo=lighthouse&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe></li>
            </ul>
        </div>
    </div>
</footer>