<div class="row">
    <div class="span3">
        <img src="~/content/images/lighthouse/lighthouse-black-512x512.png" />
    </div>
    <div class="span9">
        <div class="hero-unit">
          <h1>Lighthouse</h1>
          <p>An AppHarbor build dashboard</p>
          <p>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.RouteUrl("Dashboard")" class="btn btn-primary btn-large"><i class="icon-lighthouse icon-white"></i> Dashboard</a>
            }
            else
            {
                <a href="/oauth/v2/begin" class="btn btn-primary btn-large"><i class="icon-user icon-white"></i> Authenticate with AppHarbor</a>
            }
          </p>
        </div>
    </div>
</div>
@Html.Partial("Analytics")
